{
    "swagger": "2.0",
    "info": {
        "title": "Virtual Life API",
        "description": "\u6a21\u62df\u4eba\u751f\u63a5\u53e3",
        "contact": {
            "name": "Dian"
        },
        "version": "1.0.0"
    },
    "host": "wxgame-api.max78.com",
    "basePath": "/wechat",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "paths": {
        "/pet/interaction": {
            "post": {
                "tags": [
                    "pet"
                ],
                "description": "\u5ba0\u7269\u4ea4\u4e92",
                "operationId": "pet.interaction",
                "parameters": [
                    {
                        "name": "action",
                        "in": "query",
                        "description": "\u52a8\u4f5c\u540d\u79f0\uff08\u629a\u6478\uff0c\u5582\u517b\u7b49\uff09",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u64cd\u4f5c\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/Success"
                        }
                    },
                    "422": {
                        "description": "\u8bf7\u6c42\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25",
                        "schema": {
                            "$ref": "#/definitions/ValidationError"
                        }
                    }
                }
            }
        },
        "/player/info": {
            "get": {
                "tags": [
                    "player"
                ],
                "description": "\u83b7\u53d6\u73a9\u5bb6\u4e2a\u4eba\u4fe1\u606f",
                "operationId": "player.info",
                "responses": {
                    "200": {
                        "description": "\u8fd4\u56de\u73a9\u5bb6\u4e2a\u4eba\u4fe1\u606f\u548c\u6240\u6301\u80a1\u7968",
                        "schema": {
                            "$ref": "#/definitions/PlayerStock"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Success": {
            "properties": {
                "code": {
                    "description": "\u8fd4\u56de\u7801\uff0c\u6210\u529f\u4e3a-1",
                    "type": "integer",
                    "format": "int32",
                    "example": "-1"
                },
                "message": {
                    "description": "\u6d88\u606f",
                    "type": "string",
                    "example": "\u64cd\u4f5c\u6210\u529f"
                }
            },
            "type": "object"
        },
        "ValidationError": {
            "properties": {
                "message": {
                    "description": "\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25\u63d0\u793a\u6d88\u606f",
                    "type": "string"
                },
                "errors": {
                    "description": "\u9519\u8bef\u8be6\u60c5",
                    "type": "object",
                    "$ref": "#/definitions/ValidationErrorDetails"
                }
            },
            "type": "object"
        },
        "ValidationErrorDetails": {
            "description": "key\u4e3a\u9a8c\u8bc1\u5931\u8d25\u7684\u53c2\u6570\u540d, \u503c\u4e3a\u6240\u6709\u9a8c\u8bc1\u5931\u8d25\u7684\u6761\u76ee(\u6570\u7ec4)",
            "properties": {
                "stock_code": {
                    "type": "array",
                    "items": {
                        "description": "\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25\u8be6\u60c5",
                        "type": "string"
                    },
                    "example": [
                        "stock_code \u4e0d\u80fd\u5927\u4e8e 1 \u4e2a\u5b57\u7b26",
                        "stock_code \u5e94\u8be5\u4e3a\u6570\u5b57"
                    ]
                }
            },
            "type": "object"
        },
        "CreatedAtUpdatedAt": {
            "properties": {
                "created_at": {
                    "description": "\u521b\u5efa\u65f6\u95f4",
                    "type": "string",
                    "example": "2018-03-30 16:03:14"
                },
                "updated_at": {
                    "description": "\u66f4\u65b0\u65f6\u95f4",
                    "type": "string",
                    "example": "2018-03-30 17:14:42"
                }
            },
            "type": "object"
        },
        "PlayerStock": {
            "description": "\u73a9\u5bb6\u6a21\u578b\uff08\u5305\u542b\u6240\u6301\u80a1\u7968\uff09",
            "properties": {
                "stocks": {
                    "description": "\u6240\u6301\u80a1\u7968",
                    "type": "array",
                    "items": {
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/definitions/StockHolder"
                            }
                        ]
                    }
                }
            },
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/Player"
                }
            ]
        },
        "Player": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "example": "10000"
                },
                "open_id": {
                    "description": "\u73a9\u5bb6\u5fae\u4fe1openid",
                    "type": "string",
                    "example": "odh7zsgI75iT8FRh0fGlSojc9PWM"
                },
                "nickname": {
                    "description": "\u73a9\u5bb6\u6635\u79f0",
                    "type": "string",
                    "example": "\u5c0f\u660e"
                },
                "gender": {
                    "description": "\u73a9\u5bb6\u6027\u522b\uff080-\u5973,1-\u7537\uff09",
                    "type": "integer",
                    "format": "int32",
                    "example": "0"
                },
                "profession": {
                    "description": "\u73a9\u5bb6\u804c\u4e1a",
                    "type": "string",
                    "example": "\u5f8b\u5e08"
                },
                "real_name": {
                    "description": "\u73a9\u5bb6\u771f\u5b9e\u59d3\u540d",
                    "type": "string",
                    "example": "\u5f20\u98de"
                },
                "identity_id": {
                    "description": "\u73a9\u5bb6\u8eab\u4efd\u8bc1id",
                    "type": "string",
                    "example": "456998188702118765"
                },
                "intro": {
                    "description": "\u4e2a\u4eba\u7b80\u4ecb",
                    "type": "string"
                },
                "game_points": {
                    "description": "\u5ba0\u7269\u4ea4\u4e92\u8d5a\u53d6\u6e38\u620f\u8eab\u4ef7\u6570",
                    "type": "string",
                    "example": "0.10000000"
                },
                "points": {
                    "description": "\u4e2a\u4eba\u6d41\u901a\u8eab\u4ef7\u603b\u6570\uff08\u5305\u62ec\u51bb\u7ed3\uff09",
                    "type": "string",
                    "example": "374.00000000"
                },
                "frozen_points": {
                    "description": "\u51bb\u7ed3\u8eab\u4ef7\u6570",
                    "type": "string",
                    "example": "4.00000000"
                }
            },
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/CreatedAtUpdatedAt"
                }
            ]
        },
        "StockHolder": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "example": "1"
                },
                "stock_code": {
                    "description": "\u80a1\u7968\u4ee3\u7801",
                    "type": "string",
                    "example": "ABC12345"
                },
                "holder_id": {
                    "description": "\u6301\u6709\u4eba\u73a9\u5bb6id",
                    "type": "integer",
                    "format": "int32",
                    "example": "10000"
                },
                "total_shares": {
                    "description": "\u6301\u6709\u603b\u80a1\u7968\u6570\uff08\u5305\u62ec\u51bb\u7ed3\uff09",
                    "type": "string",
                    "example": "5.00000000"
                },
                "frozen_shares": {
                    "description": "\u51bb\u7ed3\u80a1\u7968\u6570",
                    "type": "string",
                    "example": "3.00000000"
                },
                "available_shares": {
                    "description": "\u53ef\u7528\u80a1\u7968\u6570",
                    "type": "string",
                    "example": "2.00000000"
                }
            },
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/CreatedAtUpdatedAt"
                }
            ]
        }
    }
}