{
    "swagger": "2.0",
    "info": {
        "title": "Virtual Life API",
        "description": "\u6a21\u62df\u4eba\u751f\u63a5\u53e3",
        "contact": {
            "name": "Dian"
        },
        "version": "1.0.0"
    },
    "host": "wxgame-api.max78.com",
    "basePath": "/wechat",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "paths": {
        "/pet/interaction": {
            "post": {
                "tags": [
                    "pet"
                ],
                "description": "\u5ba0\u7269\u4ea4\u4e92",
                "operationId": "pet.interaction",
                "parameters": [
                    {
                        "name": "action",
                        "in": "query",
                        "description": "\u52a8\u4f5c\u540d\u79f0\uff08\u629a\u6478\uff0c\u5582\u517b\u7b49\uff09",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u64cd\u4f5c\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/Success"
                        }
                    },
                    "422": {
                        "description": "\u8bf7\u6c42\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25",
                        "schema": {
                            "$ref": "#/definitions/ValidationError"
                        }
                    }
                }
            }
        },
        "/player/info": {
            "get": {
                "tags": [
                    "player"
                ],
                "description": "\u83b7\u53d6\u73a9\u5bb6\u4e2a\u4eba\u4fe1\u606f",
                "operationId": "player.info.get",
                "responses": {
                    "200": {
                        "description": "\u8fd4\u56de\u73a9\u5bb6\u4e2a\u4eba\u4fe1\u606f\u548c\u6240\u6301\u80a1\u7968",
                        "schema": {
                            "$ref": "#/definitions/PlayerStock"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "player"
                ],
                "description": "\u66f4\u65b0\u73a9\u5bb6\u4fe1\u606f",
                "operationId": "player.info.update",
                "parameters": [
                    {
                        "name": "nickname",
                        "in": "query",
                        "description": "\u6635\u79f0",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "\u6027\u522b(0-\u5973\uff0c1-\u7537)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "profession",
                        "in": "query",
                        "description": "\u804c\u4e1a",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "real_name",
                        "in": "query",
                        "description": "\u771f\u5b9e\u59d3\u540d",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "identity_id",
                        "in": "query",
                        "description": "\u8eab\u4efd\u8bc1\u53f7",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "intro",
                        "in": "query",
                        "description": "\u7b80\u4ecb",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u64cd\u4f5c\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/Success"
                        }
                    },
                    "422": {
                        "description": "\u8bf7\u6c42\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25",
                        "schema": {
                            "$ref": "#/definitions/ValidationError"
                        }
                    }
                }
            }
        },
        "/points/purchase": {
            "post": {
                "tags": [
                    "point"
                ],
                "description": "\u8d2d\u4e70\u8eab\u4ef7",
                "operationId": "point.purchase",
                "parameters": [
                    {
                        "name": "points",
                        "in": "query",
                        "description": "\u8eab\u4ef7\u6570\u91cf",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u8d2d\u4e70\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/Success"
                        }
                    },
                    "422": {
                        "description": "\u8bf7\u6c42\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25",
                        "schema": {
                            "$ref": "#/definitions/ValidationError"
                        }
                    }
                }
            }
        },
        "/stock/dividend-policy": {
            "get": {
                "tags": [
                    "stock"
                ],
                "description": "\u83b7\u53d6\u80a1\u7968\u5206\u7ea2\u65b9\u6848",
                "operationId": "stock.dividend-policy.get",
                "responses": {
                    "200": {
                        "description": "\u8fd4\u56de\u6240\u6709\u80a1\u7968\u5206\u7ea2\u65b9\u6848",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/definitions/StockDividendPolicy"
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "stock"
                ],
                "description": "\u6dfb\u52a0\u80a1\u7968\u5206\u7ea2\u65b9\u6848",
                "operationId": "stock.dividend-policy.add",
                "parameters": [
                    {
                        "name": "policy",
                        "in": "query",
                        "description": "\u5206\u7ea2\u65b9\u6848\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6dfb\u52a0\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/Success"
                        }
                    },
                    "422": {
                        "description": "\u8bf7\u6c42\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25",
                        "schema": {
                            "$ref": "#/definitions/ValidationError"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "stock"
                ],
                "description": "\u5220\u9664\u80a1\u7968\u5206\u7ea2\u65b9\u6848",
                "operationId": "stock.dividend-policy.del",
                "parameters": [
                    {
                        "name": "policy_id",
                        "in": "query",
                        "description": "\u5206\u7ea2\u65b9\u6848id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u5220\u9664\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/Success"
                        }
                    },
                    "400": {
                        "description": "\u901a\u7528\u9519\u8bef",
                        "schema": {
                            "$ref": "#/definitions/CommonError"
                        }
                    }
                }
            }
        },
        "/stock/ipo": {
            "get": {
                "tags": [
                    "stock"
                ],
                "description": "\u83b7\u53d6\u80a1\u7968ipo\u4fe1\u606f",
                "operationId": "stock.ipo.get",
                "responses": {
                    "200": {
                        "description": "\u8fd4\u56de\u6307\u5b9a\u80a1\u7968\u6216\u5168\u90e8ipo\u4fe1\u606f",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/definitions/StockIpo"
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "stock"
                ],
                "description": "\u80a1\u7968ipo",
                "operationId": "stock.ipo.add",
                "parameters": [
                    {
                        "name": "stock_code",
                        "in": "query",
                        "description": "\u80a1\u7968\u4ee3\u7801",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stock_type_id",
                        "in": "query",
                        "description": "\u80a1\u7968\u7c7b\u578bid",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "ipo_price",
                        "in": "query",
                        "description": "ipo\u4ef7\u683c",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "ipo_shares",
                        "in": "query",
                        "description": "ipo\u80a1\u7968\u6570\u91cf",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "dividend_policy_id",
                        "in": "query",
                        "description": "\u80a1\u7968\u5206\u7ea2id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "intro",
                        "in": "query",
                        "description": "\u80a1\u7968\u7b80\u4ecb",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ipo\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/Success"
                        }
                    },
                    "400": {
                        "description": "\u901a\u7528\u9519\u8bef",
                        "schema": {
                            "$ref": "#/definitions/CommonError"
                        }
                    },
                    "422": {
                        "description": "\u8bf7\u6c42\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25",
                        "schema": {
                            "$ref": "#/definitions/ValidationError"
                        }
                    }
                }
            }
        },
        "/stock/ipo/subscription": {
            "post": {
                "tags": [
                    "stock"
                ],
                "description": "\u80a1\u7968\u8ba4\u8d2d",
                "operationId": "stock.ipo.subscription.add",
                "parameters": [
                    {
                        "name": "stock_code",
                        "in": "query",
                        "description": "\u80a1\u7968\u4ee3\u7801",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "subscribe_shares",
                        "in": "query",
                        "description": "\u8ba4\u8d2d\u6570\u91cf",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u8ba4\u8d2d\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/Success"
                        }
                    },
                    "400": {
                        "description": "\u901a\u7528\u9519\u8bef",
                        "schema": {
                            "$ref": "#/definitions/CommonError"
                        }
                    },
                    "422": {
                        "description": "\u8bf7\u6c42\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25",
                        "schema": {
                            "$ref": "#/definitions/ValidationError"
                        }
                    }
                }
            }
        },
        "/stock/depth": {
            "get": {
                "tags": [
                    "stock"
                ],
                "description": "\u83b7\u53d6\u67d0\u53ea\u80a1\u7968\u7684\u4ea4\u6613\u6df1\u5ea6",
                "operationId": "stock.depth.get",
                "parameters": [
                    {
                        "name": "stock_code",
                        "in": "query",
                        "description": "\u80a1\u7968\u4ee3\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u8fd4\u56de\u6b64\u80a1\u7968\u7684\u4ea4\u6613\u6df1\u5ea6",
                        "schema": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/definitions/StockDepth"
                                }
                            ]
                        }
                    },
                    "422": {
                        "description": "\u8bf7\u6c42\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25",
                        "schema": {
                            "$ref": "#/definitions/ValidationError"
                        }
                    }
                }
            }
        },
        "/stock/ticker": {
            "get": {
                "tags": [
                    "stock"
                ],
                "description": "\u83b7\u53d6\u67d0\u53ea\u80a1\u7968\u7684\u6700\u65b0\u6210\u4ea4\u6570\u636e",
                "operationId": "stock.ticker.get",
                "parameters": [
                    {
                        "name": "stock_code",
                        "in": "query",
                        "description": "\u80a1\u7968\u4ee3\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u8fd4\u56de\u6b64\u80a1\u7968\u7684ticker",
                        "schema": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/definitions/StockTicker"
                                }
                            ]
                        }
                    },
                    "422": {
                        "description": "\u8bf7\u6c42\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25",
                        "schema": {
                            "$ref": "#/definitions/ValidationError"
                        }
                    }
                }
            }
        },
        "/stock/trend": {
            "get": {
                "tags": [
                    "stock"
                ],
                "description": "\u83b7\u53d6\u6240\u6709(\u6307\u5b9a)\u80a1\u7968\u7684\u8d8b\u52bf\u53d8\u5316",
                "operationId": "stock.trend.get",
                "parameters": [
                    {
                        "name": "stock_code",
                        "in": "query",
                        "description": "\u80a1\u7968\u4ee3\u7801",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u8fd4\u56de\u6b64\u80a1\u7968\u7684trend",
                        "schema": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/definitions/StockTrend"
                                }
                            ]
                        }
                    },
                    "422": {
                        "description": "\u8bf7\u6c42\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25",
                        "schema": {
                            "$ref": "#/definitions/ValidationError"
                        }
                    }
                }
            }
        },
        "/stock/order/{orderId}": {
            "get": {
                "tags": [
                    "stock"
                ],
                "description": "\u83b7\u53d6\u5355\u4e2a\u8ba2\u5355\u4fe1\u606f",
                "operationId": "stock.order.get",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "\u8ba2\u5355id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u8fd4\u56de\u8ba2\u5355\u4fe1\u606f",
                        "schema": {
                            "$ref": "#/definitions/StockOrder"
                        }
                    }
                }
            }
        },
        "/stock/orders": {
            "get": {
                "tags": [
                    "stock"
                ],
                "description": "\u6279\u91cf\u83b7\u53d6\u5f53\u524d\u73a9\u5bb6\u7684\u8ba2\u5355",
                "operationId": "stock.orders.get",
                "parameters": [
                    {
                        "name": "stock_code",
                        "in": "query",
                        "description": "\u80a1\u7968\u4ee3\u7801",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "\u8ba2\u5355\u72b6\u6001\u7801",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "\u8ba2\u5355\u65b9\u5411\uff08buy or sell\uff09",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u8fd4\u56de\u8ba2\u5355\u4fe1\u606f",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/definitions/StockOrder"
                                    }
                                ]
                            }
                        }
                    },
                    "422": {
                        "description": "\u8bf7\u6c42\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25",
                        "schema": {
                            "$ref": "#/definitions/ValidationError"
                        }
                    }
                }
            }
        },
        "/stock/orders/history": {
            "get": {
                "tags": [
                    "stock"
                ],
                "description": "\u83b7\u53d6\u67d0\u53ea\u80a1\u7968\u7684\u8ba2\u5355\u5386\u53f2",
                "operationId": "stock.order.history.get",
                "parameters": [
                    {
                        "name": "stock_code",
                        "in": "query",
                        "description": "\u80a1\u7968\u4ee3\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u8fd4\u56de\u8ba2\u5355\u5386\u53f2",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/definitions/StockTradingHistory"
                                    }
                                ]
                            }
                        }
                    },
                    "422": {
                        "description": "\u8bf7\u6c42\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25",
                        "schema": {
                            "$ref": "#/definitions/ValidationError"
                        }
                    }
                }
            }
        },
        "/stock/order/{order}": {
            "delete": {
                "tags": [
                    "stock"
                ],
                "description": "\u53d6\u6d88\u8ba2\u5355",
                "operationId": "stock.order.del",
                "parameters": [
                    {
                        "name": "order",
                        "in": "path",
                        "description": "\u8ba2\u5355id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u53d6\u6d88\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/Success"
                        }
                    },
                    "400": {
                        "description": "\u901a\u7528\u9519\u8bef",
                        "schema": {
                            "$ref": "#/definitions/CommonError"
                        }
                    }
                }
            }
        },
        "/stock/order": {
            "post": {
                "tags": [
                    "stock"
                ],
                "description": "\u4e0b\u5355",
                "operationId": "stock.order.add",
                "parameters": [
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "\u4e0b\u5355\u65b9\u5411\uff08buy or sell\uff09",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stock_code",
                        "in": "query",
                        "description": "\u80a1\u7968\u4ee3\u7801",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "description": "\u4e0b\u5355\u4ef7\u683c",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "shares",
                        "in": "query",
                        "description": "\u4e0b\u5355\u6570\u91cf",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u4e0b\u5355\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/Success"
                        }
                    },
                    "400": {
                        "description": "\u901a\u7528\u9519\u8bef",
                        "schema": {
                            "$ref": "#/definitions/CommonError"
                        }
                    },
                    "422": {
                        "description": "\u8bf7\u6c42\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25",
                        "schema": {
                            "$ref": "#/definitions/ValidationError"
                        }
                    }
                }
            }
        },
        "/stock/type": {
            "get": {
                "tags": [
                    "stock"
                ],
                "description": "\u83b7\u53d6\u6240\u6709\u80a1\u7968\u5206\u7c7b\u7c7b\u578b",
                "operationId": "stock.type.get",
                "responses": {
                    "200": {
                        "description": "\u8fd4\u56de\u6240\u6709\u80a1\u7968\u5206\u7c7b\u7c7b\u578b",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/definitions/StockType"
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "stock"
                ],
                "description": "\u6dfb\u52a0\u80a1\u7968\u7c7b\u578b",
                "operationId": "stock.type.add",
                "parameters": [
                    {
                        "name": "type_name",
                        "in": "query",
                        "description": "\u7c7b\u578b\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6dfb\u52a0\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/Success"
                        }
                    },
                    "422": {
                        "description": "\u8bf7\u6c42\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25",
                        "schema": {
                            "$ref": "#/definitions/ValidationError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Success": {
            "properties": {
                "code": {
                    "description": "\u8fd4\u56de\u7801\uff0c\u6210\u529f\u4e3a-1",
                    "type": "integer",
                    "format": "int32",
                    "example": "-1"
                },
                "message": {
                    "description": "\u6d88\u606f",
                    "type": "string",
                    "example": "\u64cd\u4f5c\u6210\u529f"
                }
            },
            "type": "object"
        },
        "CommonError": {
            "properties": {
                "code": {
                    "description": "\u8fd4\u56de\u7801\uff0c\u5927\u4e8e\u7b49\u4e8e0",
                    "type": "integer",
                    "format": "int32",
                    "example": "2001"
                },
                "error": {
                    "description": "\u9519\u8bef\u6d88\u606f\u63d0\u793a",
                    "type": "string",
                    "example": "\u53ea\u80fd\u64cd\u4f5c\u60a8\u81ea\u5df1\u521b\u5efa\u7684policy"
                },
                "result": {
                    "description": "\u7ed3\u679c(false)",
                    "type": "boolean",
                    "default": false
                }
            },
            "type": "object"
        },
        "ValidationError": {
            "properties": {
                "message": {
                    "description": "\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25\u63d0\u793a\u6d88\u606f",
                    "type": "string"
                },
                "errors": {
                    "description": "\u9519\u8bef\u8be6\u60c5",
                    "type": "object",
                    "$ref": "#/definitions/ValidationErrorDetails"
                }
            },
            "type": "object"
        },
        "ValidationErrorDetails": {
            "description": "key\u4e3a\u9a8c\u8bc1\u5931\u8d25\u7684\u53c2\u6570\u540d, \u503c\u4e3a\u6240\u6709\u9a8c\u8bc1\u5931\u8d25\u7684\u6761\u76ee(\u6570\u7ec4)",
            "properties": {
                "stock_code": {
                    "type": "array",
                    "items": {
                        "description": "\u53c2\u6570\u9a8c\u8bc1\u5931\u8d25\u8be6\u60c5",
                        "type": "string"
                    },
                    "example": [
                        "stock_code \u4e0d\u80fd\u5927\u4e8e 1 \u4e2a\u5b57\u7b26",
                        "stock_code \u5e94\u8be5\u4e3a\u6570\u5b57"
                    ]
                }
            },
            "type": "object"
        },
        "CreatedAtUpdatedAt": {
            "properties": {
                "created_at": {
                    "description": "\u521b\u5efa\u65f6\u95f4",
                    "type": "string",
                    "example": "2018-03-30 16:03:14"
                },
                "updated_at": {
                    "description": "\u66f4\u65b0\u65f6\u95f4",
                    "type": "string",
                    "example": "2018-03-30 17:14:42"
                }
            },
            "type": "object"
        },
        "PlayerStock": {
            "description": "\u73a9\u5bb6\u6a21\u578b\uff08\u5305\u542b\u6240\u6301\u80a1\u7968\uff09",
            "properties": {
                "stocks": {
                    "description": "\u6240\u6301\u80a1\u7968",
                    "type": "array",
                    "items": {
                        "properties": {
                            "changing_rate": {
                                "description": "\u6da8\u8dcc\u5e45",
                                "type": "string",
                                "example": "-0.2500"
                            },
                            "last_price": {
                                "description": "\u6700\u65b0\u6210\u4ea4\u4ef7",
                                "type": "string",
                                "example": "3.00000000"
                            }
                        },
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/definitions/StockHolder"
                            }
                        ]
                    }
                }
            },
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/Player"
                }
            ]
        },
        "StockDepth": {
            "description": "\u80a1\u7968\u4ea4\u6613\u6df1\u5ea6",
            "properties": {
                "buy": {
                    "description": "\u4e70\u5355\u6df1\u5ea6",
                    "type": "array",
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "maxItems": 2,
                            "minItems": 2
                        },
                        "example": [
                            "9.00000000",
                            "2.00000000"
                        ]
                    }
                },
                "sell": {
                    "description": "\u5356\u5355\u6df1\u5ea6",
                    "type": "array",
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "maxItems": 2,
                            "minItems": 2
                        },
                        "example": [
                            "10.00000000",
                            "2.00000000"
                        ]
                    }
                }
            },
            "type": "object"
        },
        "StockTicker": {
            "description": "Ticker",
            "properties": {
                "stock_code": {
                    "description": "\u80a1\u7968\u4ee3\u7801",
                    "type": "string",
                    "example": "ABC12345"
                },
                "price": {
                    "description": "\u6210\u4ea4\u4ef7\u683c",
                    "type": "string",
                    "example": "3.00000000"
                },
                "shares": {
                    "description": "\u6210\u4ea4\u6570\u91cf",
                    "type": "string",
                    "example": "4.00000000"
                },
                "take_direction": {
                    "description": "\u6210\u4ea4\u65b9\u5411",
                    "type": "string",
                    "example": "sell"
                },
                "created_at": {
                    "description": "\u6210\u4ea4",
                    "type": "string",
                    "example": "2018-03-30 16:03:14"
                }
            },
            "type": "object"
        },
        "StockTrend": {
            "description": "\u80a1\u7968\u6da8\u8dcc\u5e45\u53d8\u5316",
            "properties": {
                "{stock_code}": {
                    "description": "\u6b64\u53ea\u80a1\u7968\u7684\u8d8b\u52bf",
                    "properties": {
                        "changing_rate": {
                            "description": "\u6da8\u8dcc\u5e45",
                            "type": "string",
                            "example": "-0.2500"
                        },
                        "last_price": {
                            "description": "\u6700\u65b0\u6210\u4ea4\u4ef7(\u53ef\u80fd\u6700\u8fd1\u7684\u6210\u4ea4\u57283\u5929\u4e4b\u524d)",
                            "type": "string",
                            "example": "3.00000000"
                        },
                        "today_last_price": {
                            "description": "\u8fdb\u5165\u6700\u65b0\u6210\u4ea4\u4ef7(\u65e0\u5219\u4e3a0)",
                            "type": "string",
                            "example": "3.00000000"
                        },
                        "owner": {
                            "description": "\u6b64\u53ea\u80a1\u7968\u7684\u6240\u6709\u8005",
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/definitions/Player"
                                }
                            ]
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Player": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "example": "10000"
                },
                "open_id": {
                    "description": "\u73a9\u5bb6\u5fae\u4fe1openid",
                    "type": "string",
                    "example": "odh7zsgI75iT8FRh0fGlSojc9PWM"
                },
                "nickname": {
                    "description": "\u73a9\u5bb6\u6635\u79f0",
                    "type": "string",
                    "example": "\u5c0f\u660e"
                },
                "gender": {
                    "description": "\u73a9\u5bb6\u6027\u522b\uff080-\u5973,1-\u7537\uff09",
                    "type": "integer",
                    "format": "int32",
                    "example": "0"
                },
                "profession": {
                    "description": "\u73a9\u5bb6\u804c\u4e1a",
                    "type": "string",
                    "example": "\u5f8b\u5e08"
                },
                "real_name": {
                    "description": "\u73a9\u5bb6\u771f\u5b9e\u59d3\u540d",
                    "type": "string",
                    "example": "\u5f20\u98de"
                },
                "identity_id": {
                    "description": "\u73a9\u5bb6\u8eab\u4efd\u8bc1id",
                    "type": "string",
                    "example": "456998188702118765"
                },
                "intro": {
                    "description": "\u4e2a\u4eba\u7b80\u4ecb",
                    "type": "string"
                },
                "game_points": {
                    "description": "\u5ba0\u7269\u4ea4\u4e92\u8d5a\u53d6\u6e38\u620f\u8eab\u4ef7\u6570",
                    "type": "string",
                    "example": "0.10000000"
                },
                "points": {
                    "description": "\u4e2a\u4eba\u6d41\u901a\u8eab\u4ef7\u603b\u6570\uff08\u5305\u62ec\u51bb\u7ed3\uff09",
                    "type": "string",
                    "example": "374.00000000"
                },
                "frozen_points": {
                    "description": "\u51bb\u7ed3\u8eab\u4ef7\u6570",
                    "type": "string",
                    "example": "4.00000000"
                }
            },
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/CreatedAtUpdatedAt"
                }
            ]
        },
        "StockDividendPolicy": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "example": "1"
                },
                "policy": {
                    "description": "\u5206\u4f1a\u65b9\u6848\u540d\u79f0",
                    "type": "string",
                    "example": "\u5b9a\u671f\u8eab\u4ef7\u5206\u7ea2"
                },
                "player_id": {
                    "description": "\u521b\u5efa\u8005\u73a9\u5bb6id",
                    "type": "integer",
                    "example": "10000"
                }
            },
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/CreatedAtUpdatedAt"
                }
            ]
        },
        "StockHolder": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "example": "1"
                },
                "stock_code": {
                    "description": "\u80a1\u7968\u4ee3\u7801",
                    "type": "string",
                    "example": "ABC12345"
                },
                "holder_id": {
                    "description": "\u6301\u6709\u4eba\u73a9\u5bb6id",
                    "type": "integer",
                    "format": "int32",
                    "example": "10000"
                },
                "total_shares": {
                    "description": "\u6301\u6709\u603b\u80a1\u7968\u6570\uff08\u5305\u62ec\u51bb\u7ed3\uff09",
                    "type": "string",
                    "example": "5.00000000"
                },
                "frozen_shares": {
                    "description": "\u51bb\u7ed3\u80a1\u7968\u6570",
                    "type": "string",
                    "example": "3.00000000"
                },
                "available_shares": {
                    "description": "\u53ef\u7528\u80a1\u7968\u6570",
                    "type": "string",
                    "example": "2.00000000"
                }
            },
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/CreatedAtUpdatedAt"
                }
            ]
        },
        "StockIpo": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "example": "1"
                },
                "stock_code": {
                    "description": "\u80a1\u7968\u4ee3\u7801",
                    "type": "string",
                    "example": "ABC12345"
                },
                "stock_type_id": {
                    "description": "\u80a1\u7968\u7c7b\u578bid",
                    "type": "integer",
                    "example": "1"
                },
                "issuer_id": {
                    "description": "\u53d1\u884c\u4ebaid",
                    "type": "integer",
                    "format": "int32",
                    "example": "10000"
                },
                "ipo_price": {
                    "description": "ipo\u4ef7\u683c",
                    "type": "number",
                    "example": "1.1"
                },
                "ipo_shares": {
                    "description": "ipo\u80a1\u7968\u6570\u91cf",
                    "type": "number",
                    "example": "70"
                },
                "ipo_remained_shares": {
                    "description": "\u5269\u4f59ipo\u80a1\u7968\u5f85\u8ba4\u8d2d\u6570",
                    "type": "number",
                    "example": "50"
                },
                "dividend_policy_id": {
                    "description": "\u80a1\u7968\u5206\u7ea2\u65b9\u6848id",
                    "type": "integer",
                    "format": "int32",
                    "example": "1"
                },
                "intro": {
                    "description": "\u80a1\u7968\u7b80\u4ecb",
                    "type": "string",
                    "example": "\u6211\u7684\u80a1\u7968\u7b80\u4ecb"
                },
                "status": {
                    "description": "ipo\u72b6\u6001",
                    "type": "integer",
                    "format": "int32",
                    "example": "1"
                },
                "ipo_subscribed_shares": {
                    "description": "ipo\u5df2\u8ba4\u8d2d\u80a1\u7968\u6570",
                    "type": "number",
                    "example": "20"
                }
            },
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/CreatedAtUpdatedAt"
                }
            ]
        },
        "StockOrder": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "example": "10022"
                },
                "stock_code": {
                    "description": "\u80a1\u7968\u4ee3\u7801",
                    "type": "string",
                    "example": "ABC12345"
                },
                "player_id": {
                    "description": "\u4e0b\u5355\u8005\u73a9\u5bb6id",
                    "type": "integer",
                    "format": "int32",
                    "example": "10000"
                },
                "direction": {
                    "description": "\u4e0b\u5355\u65b9\u5411",
                    "type": "string",
                    "example": "sell"
                },
                "price": {
                    "description": "\u4e0b\u5355\u4ef7\u683c",
                    "type": "string",
                    "example": "3.00000000"
                },
                "shares": {
                    "description": "\u4e0b\u5355\u6570\u91cf",
                    "type": "string",
                    "example": "20.00000000"
                },
                "remained_shares": {
                    "description": "\u5269\u4f59\u5f85\u6210\u4ea4\u6570\u91cf",
                    "type": "string",
                    "example": "10.00000000"
                },
                "avg_price": {
                    "description": "\u5e73\u5747\u6210\u4ea4\u4ef7",
                    "type": "string",
                    "example": "3.00000000"
                },
                "deal_shares": {
                    "description": "\u5df2\u6210\u4ea4\u6570\u91cf",
                    "type": "string",
                    "example": "10.00000000"
                },
                "status": {
                    "description": "\u8ba2\u5355\u72b6\u6001(1-\u5f85\u6210\u4ea4,2-\u90e8\u5206\u6210\u4ea4,3-\u5b8c\u5168\u6210\u4ea4,4-\u5df2\u53d6\u6d88)",
                    "type": "integer",
                    "example": "3"
                }
            },
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/CreatedAtUpdatedAt"
                }
            ]
        },
        "StockTradingHistory": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "example": "1"
                },
                "stock_code": {
                    "description": "\u80a1\u7968\u4ee3\u7801",
                    "type": "string",
                    "example": "ABC12345"
                },
                "price": {
                    "description": "\u6210\u4ea4\u4ef7\u683c",
                    "type": "string",
                    "example": "3.00000000"
                },
                "shares": {
                    "description": "\u6210\u4ea4\u6570\u91cf",
                    "type": "string",
                    "example": "20.00000000"
                },
                "taker_direction": {
                    "description": "\u4e3b\u52a8\u6210\u4ea4\u65b9\u5411",
                    "type": "string",
                    "example": "sell"
                },
                "maker_order_id": {
                    "description": "\u505a\u5e02\u5546\u8ba2\u5355\u53f7",
                    "type": "integer",
                    "format": "int32",
                    "example": "10001"
                },
                "taker_order_id": {
                    "description": "\u4e3b\u52a8\u6210\u4ea4\u8ba2\u5355\u53f7",
                    "type": "integer",
                    "format": "int32",
                    "example": "10002"
                },
                "created_at": {
                    "description": "\u521b\u5efa\u65f6\u95f4",
                    "type": "string",
                    "example": "2018-03-30 16:03:14"
                }
            },
            "type": "object"
        },
        "StockType": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "example": "1"
                },
                "type_name": {
                    "description": "\u7c7b\u578b\u540d\u79f0",
                    "type": "string",
                    "example": "\u97f3\u4e50"
                },
                "creator_id": {
                    "description": "\u521b\u5efa\u8005\u73a9\u5bb6id",
                    "type": "integer",
                    "example": "10000"
                }
            },
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/CreatedAtUpdatedAt"
                }
            ]
        }
    }
}